In [37]:
#Q1
marks=int(input("enter your marks"))
if marks > 90 :
    print ("grade A")
elif marks > 80 and marks <= 90:
    print("grade B")
elif marks >=60 and marks <=80:
    print("grade c")
else :
    print("grade d")

enter your marks 55

grade d

In [38]:
#Q2
amount=int(input("enter your bike cost price"))
if amount > 100000:
           print("15% tax need to be paid")
elif amount >50000 and amount<=100000:
           print("10% tax need to be paid")
elif amount<=50000:
           print("5% tax need to be paid")

enter your bike cost price 4000

5% tax need to be paid

In [26]:
#Q3
city=(input("enter name of the city"))
if  city=="delhi":
    print("red fort")
elif city=="agra":
    print("taj mahal")
elif city=="jaipur":
    print("jal mahal")

enter name of the city jaipur

jal mahal

In [36]:
#Q4
number=int(input("enter number"))
if number/ 3 and  number ==3 and number <=10:
    print("1")
if number/ 3 and  number ==6 and number <=10:
    print("2")
if number/ 3 and  number ==9 and number <=10:
    print("3")

enter number 9

3

In [47]:
#Q5 
#ans("it repeats a statement or group of statement while a given condition is true. it test the condition before executing loop body")
q1 = []
n = [1,2,3,4,5,6,7,8,9,10,500,2000]
for i in n:
    print(i*5)
    q1.append(i*5)

5
10
15
20
25
30
35
40
45
50
2500
10000

In [54]:
#7
i=10
while i>10:
     print(i=i-1)

10